name :  CI Pipeline
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code
        uses: actions/checkoutv@5
  
      - name: setup node.js 
        uses: actions/checkoutv@5
        with:
          node-version: 16

      - name: install dependencies
        run: npm install
    
      - name: run tests
        run: npm test